
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Results & Data
*.pt
*.pth
experiments/simulation_results.pt

# IDEs
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints
